@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html {
  font-size: 62.5%;
}
:root {
  --bg-color: #f7f2e9;
  --text-color: #252525;
  --yellow-color: #edc84b;
  --hover-color: #e9bb24;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: var(--bg-color);
  min-height: 100vh;
  padding: 30px 50px;
  color: var(--text-color);
  border-bottom: 25px solid var(--yellow-color);
}
.container {
  max-width: 800rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
h1 {
  color: var(--yellow-color);
  font-weight: 400;
  font-size: 3.5rem;
  position: relative;
  letter-spacing: 3px;
  white-space: nowrap;
  display: block;
}
h1::before, h1::after {
  display: block;
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--yellow-color);
  top: 50%;
  transform: translateY(-50%);
 
}
h1::before {
  left: -50px;
}
h1::after {
  right: -50px;
}
h4 {
  font-size: 2rem;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  font-weight: 600;
  padding: 8px 0;
  letter-spacing: 3px;
}
.description {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  max-width: 600px;
}
.pizza-grid {
  width: 100%;
  max-width: 80rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.pizza-card {
  display: flex;
  align-items: center;
  gap: 30px;
}
.pizza-card.sold-out {
  filter: grayscale(1);
}
.pizza-img {
  max-width: 100px;
}
.pizza-img > img {
  width: 100%;
  aspect-ratio: 1/1;
}
.about-pizza {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.3rem;
}
.pizza-name {
  font-size: 2rem;
  font-weight: 600;
}
.ingredients {
  font-style: italic;
  font-weight: 600;
}
.price {
  font-family: 1.5rem;
  font-weight: 600;
}

button {
  background-color: var(--yellow-color);
  transition: background-color, 0.5s, ease;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
}
.order {
  text-align: center;
}
button:hover {
  background-color: var(--hover-color);
}
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/
